<section class="horizontal-form">
  <div class="container-fluid">
    {{!-- This partial contains the quantity, name, and description fields --}}
    {{partial "host/add-common"}}

    <div class="over-hr r-mt20 r-mb20">
      <span>Aliyun Api Info</span>
    </div>

    {{!-- An example input option --}}
    <div class="row form-group">
        <div class="col-sm-12 col-md-2 form-label">
            <label class="form-control-static">Access Key*</label>
        </div>
        <div class="col-sm-12 col-md-4">
              {{input type="text"
              class="form-control"
              value=config.accessKeyId
              }}
        </div>

        <div class="col-sm-12 col-md-2 form-label">
            <label class="form-control-static">Access Key Secret*</label>
        </div>
        <div class="col-sm-12 col-md-4">
              {{input type="password"
              class="form-control"
              value=config.accessKeySecret
              }}
        </div>
    </div>

    <div class="row form-group">
        <div class="col-sm-12 col-md-2 form-label">
            <label class="form-control-static">自定义Api网关</label>
        </div>
        <div class="col-sm-12 col-md-4">
          {{input type="text"
          class="form-control"
          value=config.apiEndpoint
          }}
        </div>
    </div>

      <div class="over-hr r-mt20 r-mb20">
          <span>Instance Info</span>
      </div>
    <div class="row form-group">
        <div class="col-sm-12 col-md-2 form-label">
            <label class="form-control-static">实例描述</label>
        </div>
        <div class="col-sm-12 col-md-4">
          {{input type="text"
          class="form-control"
          value=config.description
          }}
        </div>

        <div class="col-sm-12 col-md-2 form-label">
            <label class="form-control-static">实例规格</label>
        </div>
        <div class="col-sm-12 col-md-4">
          {{input type="text"
          class="form-control"
          value=config.instanceType
          }}
        </div>
    </div>

      <div class="row form-group">
          <div class="col-sm-12 col-md-2 form-label">
              <label class="form-control-static">系统镜像</label>
          </div>
          <div class="col-sm-12 col-md-4">
            {{input type="text"
            class="form-control"
            value=config.imageId
            }}
          </div>

          <div class="col-sm-12 col-md-2 form-label">
              <label class="form-control-static">实例Tag</label>
          </div>
          <div class="col-sm-12 col-md-4">
            {{input type="text"
            class="form-control"
            value=config.tag
            }}
          </div>
      </div>

      <div class="over-hr r-mt20 r-mb20">
          <span>Storage Info</span>
      </div>

      <div class="row form-group">
          <div class="col-sm-12 col-md-2 form-label">
             <label class="form-control-static">I/O优化实例</label>
          </div>
          <div class="col-sm-10 col-md-3">
            {{input type="checkbox"
            class="form-control"
            checked=config.ioOptimized
            value=config.ioOptimized
            }}
          </div>
      </div>

      <div class="row form-group">
          <div class="col-sm-12 col-md-2 form-label">
              <label class="form-control-static">系统盘类型</label>
          </div>
          <div class="col-sm-12 col-md-4">
            {{new-select
                classNames="form-control"
                content=sysDiskTypes
                optionLabelPath='label'
                optionValuePath='value'
                value=config.systemDiskCategory
            }}
          </div>
      </div>

      <div class="row form-group">
          <div class="col-sm-12 col-md-2 form-label">
              <label class="form-control-static">数据盘类型</label>
          </div>
          <div class="col-sm-12 col-md-4">
            {{new-select
                classNames="form-control"
                content=dataDiskTypes
                optionLabelPath='label'
                optionValuePath='value'
                value=config.diskCategory
            }}
          </div>

          {{#if config.diskCategory}}
            <div class="col-sm-12 col-md-2 form-label">
              <label class="form-control-static">数据盘大小</label>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="input-group">
                    {{input type="text"
                    class="form-control"
                    value=config.diskSize
                    }}
                    <div class="input-group-addon">GB</div>
                </div>
            </div>
          {{/if}}
      </div>

      <div class="row form-group">
          <div class="col-sm-12 col-md-2 form-label">
              <label class="form-control-static">区域</label>
          </div>
          <div class="col-sm-12 col-md-4">
            {{input type="text"
            class="form-control"
            value=config.region
            }}
          </div>

          <div class="col-sm-12 col-md-2 form-label">
              <label class="form-control-static">可用区</label>
          </div>
          <div class="col-sm-12 col-md-4">
            {{input type="text"
            class="form-control"
            value=config.zone
            }}
          </div>
      </div>

      <div class="over-hr r-mt20 r-mb20">
          <span>Network Info</span>
      </div>

      <div class="row form-group">
        <div class="col-sm-12 col-md-2 form-label">
              <label class="form-control-static">不分配公网IP</label>
          </div>
          <div class="col-sm-10 col-md-3">
            {{input type="checkbox"
            class="form-control"
            checked=config.privateAddressOnly
            value=config.privateAddressOnly
            }}
          </div>
      </div>

       <div class="row form-group">
          <div class="col-sm-12 col-md-2 form-label">
              <label class="form-control-static">最大公网带宽</label>
          </div>
          <div class="col-sm-2 col-md-1 form-control-static">
            {{config.internetMaxBandwidth}} MB
          </div>
          <div class="col-sm-10 col-md-3 form-control-static">
            {{input-slider value=config.internetMaxBandwidth valueMin=1 valueMax=100 disabled=config.privateAddressOnly}}
          </div>
      </div>

      <div class="row form-group">
          <div class="col-sm-12 col-md-2 form-label">
              <label class="form-control-static">VPC ID</label>
          </div>
          <div class="col-sm-12 col-md-4">
            {{input type="text"
            class="form-control"
            value=config.vpcId
            }}
          </div>

          <div class="col-sm-12 col-md-2 form-label">
              <label class="form-control-static">虚拟交换机ID</label>
          </div>
          <div class="col-sm-12 col-md-4">
            {{input type="text"
            class="form-control"
            value=config.vswitchId
            }}
          </div>
      </div>

      <div class="over-hr r-mt20 r-mb20">
          <span>Security Info</span>
      </div>
      <div class="row form-group">
          <div class="col-sm-12 col-md-2 form-label">
              <label class="form-control-static">安全组</label>
          </div>
          <div class="col-sm-12 col-md-4">
            {{input type="text"
            class="form-control"
            value=config.securityGroup
            }}
          </div>
      </div>

      <div class="row form-group">
          <div class="col-sm-12 col-md-2 form-label">
              <label class="form-control-static">SSH登陆密码</label>
          </div>
          <div class="col-sm-12 col-md-4">
            {{input type="password"
            class="form-control"
            value=config.sshPassword
            }}
          </div>
      </div>

      <div class="over-hr r-mt20 r-mb20">
          <span>Other options</span>
      </div>
      <div class="row form-group">
          <div class="col-sm-12 col-md-2 form-label">
              <label class="form-control-static">升级内核</label>
          </div>
          <div class="col-sm-12 col-md-4">
            {{input type="checkbox"
            class="form-control"
            checked=config.upgradeKernel
            value=config.upgradeKernel
            }}
          </div>
      </div>

    {{!-- This partial contains the Labels and Advanced Options fields --}}
    {{partial "host/add-options"}}
  </div>

  {{!-- This component shows errors produced by validate() in the component --}}
  {{top-errors errors=errors}}

  {{!-- This component shows the Create and Cancel buttons --}}
  {{save-cancel save="save" cancel="cancel"}}
</section>
